@import url("./styles/styles.css");
@import url("./styles/fonts.css");

@import "tailwindcss";


/* Custom scrollbar for code review display */
.code-review-display::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.code-review-display::-webkit-scrollbar-track {
  background: transparent;
}

.code-review-display::-webkit-scrollbar-thumb {
  background-color: #013634; /* Tailwind blue-600 tone */
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.2s ease;
}

.code-review-display::-webkit-scrollbar-thumb:hover {
  background-color: #013634;
}

/* Firefox support */
.code-review-display {
  scrollbar-width: thin;
  scrollbar-color: #013634 transparent;
  position: relative;
}

.code-review-display::after {
  content: "";
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
  pointer-events: none;
}



/* FOR GSAP */
.right-section-mobile{
    left: 200%;
    
}
